<%- include('partials/header') %>

<div class="">
  <p>
    <h1>The weather is currently <%= weatherDescription %></h1>
    <h1>The temperature in <%= query %> is  <%= temperature %> degree Celcius. </h1>
  </p>
</div>

<%- include('partials/footer') %>
