<%- include('partials/header') %>

<div class="">
  <p>
    <h1>The weather is currently <%= weatherDescription %></h1>
    <h1>The temp in <%= query %> is  <%= temperature %> degree Celcius. </h1>
    <!-- <img src="<%= imgURL %> " alt=""> -->
  </p>
</div>

<%- include('partials/footer') %>
